@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html,body {
  margin:0px;
  border:0px;
  font-family:'Open Sans';
  overflow:hidden;
}


content#main{
  display:flex;
  flex-direction:row;
  padding-left:0px
}

ul.empresas{
  list-style-type:disc;
/*  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;*/
}


content{
/*  overflow:hidden;*/
  display:flex;
  flex-direction:row;
  padding-left:0px
}

div#wc {
 overflow:scroll;
 float:left;
 display:flex;
 flex-direction:column;
 
}

/*ul.empresas{
  list-style:none;
  padding:0;
  margin:0;
  justify-content:space-between;
  flex-wrap:wrap;
}*/

mark {
 background-color:transparent;
 font-weight:300;
 font-size:16px;
}

mark:hover {
 background-color:black;
}

div#else {
  flex:1;
}

div#wc::-webkit-scrollbar-track {
	border: 1px solid rgb(180,180,180);
	background-color:white;
}

div#wc::-webkit-scrollbar {
	width: 8px;
	height:0px;
}

div#wc::-webkit-scrollbar-thumb {
 	background-color: rgb(180,180,180);
	height:0px;
}

div#red {
  transform:translate(0px,10px);
  overflow:hidden;
  float:left;
  display:flex;
  flex-direction:column;
  margin-bottom:10px;
  overflow:scroll;
}

div#info {
  flex:1;
  font-family:'Open Sans';
}

div#titulo {
  text-align:center;
  font-weight:800;
  font-size:22px;
  height: 12%;
  padding-top:10px;
}


div#titulo>div {
  padding-top:5px;
}

div#nombre, div#pais {
  height:50px;
  width:200px;
  font-weight:300;
  font-size:12px;
}

div#modalidad {
 font-weight:700; 
 font-size:14px;
 margin:auto;
}

div#individual,div#consorcio {
 padding:10px;
 display:inline-block;
}

div#red::-webkit-scrollbar {
    width: 0px;
}

table {
 padding-top:0px;
 margin: 0 auto;
}

th {
 width:100px;
 height:50px;
 font-size:12px;
 font-weight:300;
}

th#licitantes {
 width: 350px;
}

tr#titulos>th {
  font-size:14px;
  font-weight:600;
}

span {
  font-weight:300;
  font-size:10px;
}

div.totalBloques {
  padding-top:0px;
}

ul.licitantes {
 list-style:none;
 padding:0px;
 margin:auto;
 width:200px;
}

li.licitantes {
 text-align: center;
 display:block;
}
