@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html,body {
  margin:0px;
  border:0px;
  overflow:hidden;
}


/*
circle.node {
    stroke: #fff;
    stroke-width: 3px;
}

line.link {
    stroke-width: 2px;
    stroke: black;
}
*/
