content{display:flex;flex-direction:row;padding-left:19px}
.forenames-list-container{flex:1;overflow:scroll;margin-top:10px}
.campos{
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between
}

#wc {
  float:left;
  max-width:500px;
  min-width:300px;
  width:33%;
  display:flex;
  flex-direction:column;
  margin-bottom:10px;
  overflow:scroll;
  max-height:400px;
}

div#chart {
  flex:1;
}

body {
    overflow:hidden;
}

div#chart {
    width:100%;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}


g.tick>text { font-size:10px;}
.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
