@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html,body {
 font-family:'Open Sans';
 font-weight:300;
 font-size:12px;
 margin:0;
 width:100%;
 height:100%;
}

div#tabla {
  margin:auto;
  text-align:center;
}

table {
  border-collapse: collapse;
  border:0;
  text-align:center;
  table-layout:fixed;
  width: 100%;
  margin:auto;
}

tbody,div { width:100%; }

tr {
 width:100%;
}

.labels {
 background:rgb(227,242,237);
 color:rgb(74,155,131);
 font-weight:800;
 border: 1px solid black;
 border-collapse:separate;
 border-spacing:4px;
 font-size:16px;
 text-align:left;
}

tbody.hide {
 display:table-row-group;
}

.hide>tr>td:first-child, hide>tr>th:first-child {
 text-align:left;
 width:200px;
}

td:nth-child(n+2),th:nth-child(n+2) {
 font-size:11px;
 width:50px;
 text-align:right;
 border-right:1px solid black;
 border-left:1px solid black;
}

th {
 border:1px solid black;
}

.hide>div {
 text-align:left;
 font-weight:700;
 font-size:12px;
}

tr:last-child {
 border-bottom:1px solid black;
}
